#main-page {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.layers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#map-layer {
    z-index: 0;
}

#tool-layer {
    z-index: 1;
    pointer-events: none;
    height: 100%;
    width: 100%;

}

#tool-layer .section {
    position: absolute;
}

#loader-layer {
    z-index: 2;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(255, 255, 255, 0.8);

}

#loader-layer.loading {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

}

#loader-layer .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    /* màu viền nhạt */
    border-top: 4px solid #3498db;
    /* màu viền trên nổi bật */
    border-radius: 50%;
    /* bo tròn thành hình tròn */
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    display: inline-block;
}

.loading-text span {
    opacity: 0;
    animation: blink 1.5s infinite;
}

.loading-text span:nth-child(1) {
    animation-delay: 0s;
}

.loading-text span:nth-child(2) {
    animation-delay: 0.3s;
}

.loading-text span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


#dashboard-btn,
#tool-btns,
#person-detail-container {
    pointer-events: all;
}

#tool-btns {
    top: 5px;
    right: 5px;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#tool-btns.hidden {
    pointer-events: none;
    transform: translateX(100px);
    transition: transform 0.3s ease-in-out;
}

#person-info {
    overflow-y: scroll;
    padding: 5px;
}

#person-info img {
    border-radius: 50%;
}

#detail {
    display: flex;
    flex-direction: row;
    padding: 5px 3px;
    align-items: center;
    justify-content: space-evenly;
}

#detail img {
    width: 25%;
}

.info-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: start;
    padding: 5px 3px;
}

.info-stack .other-person-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.info-stack .other-person {
    width: calc(100% / 3);
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(100%/3);
    box-sizing: border-box;
}

.other-person img {
    width: 50%;
}

@media screen and (max-width: 430px) {

    #person-detail-container {
        bottom: 0;
        left: 0;
        right: 0;
        height: 40vh;
        transform: translateY(calc(40vh - 50px));
        transition: transform 0.5s ease-in-out;
        background-color: aliceblue;
        border-radius: 15px 15px 0 0;
    }

    #person-detail-container.hidden {
        pointer-events: none;
        transform: translateY(40vh);
        transition: transform 0.5s ease-in-out;
    }

    #person-detail-container.showDetail {
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
    }

    #person-detail-container button {
        height: 50px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        border: none;
    }

    #person-info {
        height: calc(40vh - 50px);
    }


}

@media screen and (min-width: 430px) {
    #person-detail-container {
        top: 0;
        bottom: 0;
        right: 0;
        width: 40vw;
        transform: translateX(calc(40vw - 50px));
        transition: transform 0.5s ease-in-out;
        background-color: aliceblue;
        border-radius: 15px 0 0 15px;
        display: flex;
        flex-direction: row;
    }

    #person-detail-container.hidden {
        pointer-events: none;
        transform: translateX(40vw);
        transition: transform 0.5s ease-in-out;
    }

    #person-detail-container.showDetail {
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }

    #person-detail-container button {
        width: 50px;
        height: 100%;
        border-radius: 15px 0 0 15px;
        border: none;
    }

    #person-detail-container button i{
        transform: rotate(270deg);
    }


    #person-info {
        width: calc(40vw - 50px);
        height: 100%;
    }
}