#main-page {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.layers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#map-layer {
    z-index: 0;
}

#tool-layer {
    z-index: 1;
    pointer-events: none;
    height: 100%;
    width: 100%;

}

#tool-layer .section {
    position: absolute;
}

#dashboard-btn,
#tool-btns,
#person-detail-container {
    pointer-events: all;
}

#tool-btns {
    top: 5px;
    right: 5px;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#tool-btns.hidden {
    pointer-events: none;
    transform: translateX(100px);
    transition: transform 0.3s ease-in-out;
}

#person-info {
    overflow-y: scroll;
    padding: 5px;
}

#person-info img{
    border-radius: 50%;
}

#detail{
    display: flex;
    flex-direction: row;
    padding: 5px 3px;
    align-items: center;
    justify-content: space-evenly;
}

#detail img{
    width: 25%;
}

.info-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: start;
    padding: 5px 3px;
}

.info-stack .other-person-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.info-stack .other-person{
    width: calc(100% / 3);
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other-person img{
    width: 50%;
}

@media screen and (max-width: 768px) {

    #person-detail-container {
        bottom: 0;
        left: 0;
        right: 0;
        height: 40vh;
        transform: translateY(calc(40vh - 50px));
        transition: transform 0.5s ease-in-out;
        background-color: aliceblue;
        border-radius: 15px 15px 0 0;
    }

    #person-detail-container.hidden {
        pointer-events: none;
        transform: translateY(40vh);
        transition: transform 0.5s ease-in-out;
    }

    #person-detail-container.showDetail {
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
    }

    #person-detail-container button {
        height: 50px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        border: none;
    }

    #person-info {
        height: calc(40vh - 50px);
    }


}

@media screen and (max-width: 1440px) {}